@using ImpactWebsite.Models.BillingModels
@model IEnumerable<ImpactWebsite.Models.BillingModels.BillingDetailViewModel>
@{
    ViewData["Title"] = "PaymentDetails";
}

<h3><i class="fa fa-check-square-o"></i>  Selected Modules</h3>
<br />
@if (Model != null)
{
    const string strSpacer = "&nbsp;&nbsp;";

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeaderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderHeaderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
            </tr>
        }
    </table>
    <br />
}
else
{
    <p>You haven't selected module(s) yet. </p>
    <br/>
    <a class="impact-btn" id="Test" asp-controller="Order" asp-action="Index">
        Start Analysis
    </a>
    <br />
}