@using Microsoft.Extensions.Options
@using ImpactWebsite.Models.BillingModels
@model IEnumerable<ImpactWebsite.Models.BillingModels.BillingDetailViewModel>


@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Billing Dashboard</h2>
<hr />
@Html.Partial("_PaymentDetails", (IEnumerable<BillingDetailViewModel>)ViewBag.PaymentDetails)
<br />

<h3>Stripe Pay</h3>

<form action="/Billing/Charge" method="POST">
    <article>
        <label>Amount: $@ViewData["amountDisplay"]</label>
    </article>
    <script src="https://checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-image="/images/favicon.png"
            data-key="@Stripe.Value.PublishableKey"
            data-name="Impact Website"
            data-locale="auto"
            data-description="@ViewData["moduleCount"] Modules"
            data-amount="@ViewData["amount"]"
            data-currency="cad"
            data-billing-address="false"
            data-zip-code="false"
            data-email="@ViewData["email"]">
    </script>
</form>

<br />
@Html.Partial("_BillingAddress", (BillingAddress)ViewBag.BillingAddress)
<br />