@using ImpactWebsite.Models.OrderModels
@model IEnumerable<ImpactWebsite.Models.OrderModels.OrderHeader>

@{
    ViewData["Title"] = "PaymentHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-file-o"></i>  Payment History</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderHeaderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteFromUser)
        </th>
        <th>Details</th>
    </tr>

    @foreach (var item in Model)
    {
        var totalAmountDollar = item.TotalAmount / 100;
        if (item.OrderStatus == OrderStatusList.Completed)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHeaderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedDate)
            </td>
            <td>
                $ @totalAmountDollar
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteFromUser)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderHeaderId">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-tasks"></span> Details
                    </button>
                </a> 
            </td>
        </tr>
        }
    }
</table>