@using ImpactWebsite.Models.OrderModels
@model IEnumerable<ImpactWebsite.Models.BillingModels.BillingDetailViewModel>

@{
    ViewData["Title"] = "PaymentHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-file-o"></i>  Payment History</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderHeaderId)
        </th>
        <th>
            Modules
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var totalAmountDollar = item.TotalAmount / 100;
        if (item.OrderStatus == OrderStatusList.Completed)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHeaderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
        </tr>
        }
    }
</table>