@model IEnumerable<Module>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Impact Website</h1>
    <img src="~/Images/background_1.jpg" width="50%" height="50%" />
</div>
<ul class="row list-unstyled" id="album-list">
    @foreach (var module in Model)
    {
        <li class="col-lg-4 col-md-4 container">
            <a asp-controller="Module" asp-action="Details" asp-route-id="@module.ModuleId">
                <img alt="@module.ModuleName" src="@Url.Content(@module.ModuleUrl)" width="50%" height="50%" />
                <h4>@module.ModuleName</h4>
                <p>@module.Description</p>
            </a>
        </li>
    }
</ul>