@model IEnumerable<ImpactWebsite.Models.OrderModels.OrderHeader>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesRep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveredDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoteFromUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoteFromAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLineId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesRep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteFromUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteFromAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderLineId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderHeaderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderHeaderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderHeaderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
