@model IEnumerable<ImpactWebsite.Models.OrderModels.OrderModule>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Create
        </button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LongDescription)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice.UnitPriceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModuleId">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </a>
                <a asp-action="Delete" asp-route-id="@item.ModuleId">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
