@model IEnumerable<ImpactWebsite.Models.OrderModels.OrderLine>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader.OrderNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modules.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHeader.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHeader.OrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modules.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderLineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderLineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderLineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
