@model IEnumerable<ImpactWebsite.Models.OrderModels.OrderLine>

@{
    ViewData["Title"] = "NewOrder";
    IFormatProvider fp = new System.Globalization.CultureInfo("en-CA");
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <table class="table table-bordered table-responsive table-hover" style="margin: 50px auto auto auto; max-width:800px;">
        <caption style="text-align: center; font-size: large; font-weight:bold; margin-bottom: 20px;">Order Number: @ViewData["orderNumber"]</caption>
        <thead>
            <tr>
                <th>Module Name</th>
                <th>Module Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderlist in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => orderlist.Module.ModuleName)</td>
                    <td>@Html.DisplayFor(modelItem => orderlist.Module.UnitPrice.Price)</td>
                </tr>
            }
            <tr>
                <td style="font-size: small; font-weight: bold;">Estimate Deliver Date: @ViewData["DeliverDate"]</td>
                <td style="font-size: small; font-weight: bold;">$@ViewData["TotalAmount"]</td>
            </tr>
            <tr>
                <td style="font-size: 1em; font-weight: bold;" align="right">Grand Total: </td>
                <td><label style="font-size: 1em; font-weight: bold;" for="grandTotal"></label>
                    <label style="color: red; font-size: 0.9em; font-weight: bold;" for="discountDisplay"></label>
                </td>
            </tr>
        </tbody>
    </table>
<br />
    <a id="promoCode" asp-controller="Order" asp-action="SubmitPromoCode" style="margin-left: 38%;" class="impact-btn">
    <i class="fa fa-barcode" aria-hidden="true"></i>&nbsp;&nbsp;Please Enter a Promotion Code</a>

<section style="width: 70%; margin: auto;">
    <div style="float: left; text-align: center;">
        <a id="FileUpload" class="impact-btn neworder-btn">
            <i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Input Investment Information
        </a>
    </div>
    <div style="display:block; float:right; text-align: center;">
        @if (SignInManager.IsSignedIn(User))
        {
            <a href="@Url.Action("Index", "Billing", new { @id = ViewData["LoggedinUserId"], @orderId = ViewData["orderNumber"] })"  class="impact-btn neworder-btn">    
                <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;Request & Payment
            </a>
        }
        else
        {
            <a id="Charge" asp-controller="Order" asp-action="RegisterLogin" asp-route-id="@ViewData["orderNumber"]"  class="impact-btn neworder-btn">
                <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;Request & Payment
            </a>
        }
    </div>
    <br/>
</section>

<div id="AddUserForm"></div>

@section scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="../lib/jquery-ui/themes/base/jquery-ui.css" />

    <script type="text/javascript">
        $('#FileUpload').on('click', function () {

            $("#AddUserForm").dialog({
            type: 'GET',
            autoOpen: true,
            position: { my: "top", at: "top+150", of: window },
            width: 500,
            height: 200,
            resizable: false,
            title: 'Upload Files',
            modal: true,
            open: function () {
                $(this).load('@Url.Action("FileUpdaload", "Order")');
            },
        });
        return false;
    });
    </script>

    <script type="text/javascript">
        var idNum;
        $(document).ready(function () {
            var discountRate = @ViewData["DiscountRate"];
            var amount = @ViewData["TotalAmount"];
            var result = amount - (discountRate * amount);
            $('label[for="grandTotal"]').text('$' + result);
            if (discountRate > 0) {
                $('label[for="discountDisplay"]').text('(' + (discountRate * 100).toFixed(2) + '% off)');
            }
        });
</script>
<script type="text/javascript">
        $('#promoCode').on('click', function () {
            $("#AddUserForm").dialog({
            type: 'GET',
            autoOpen: true,
            position: { my: "top", at: "top+150", of: window },
            width: 400,
            height: 150,
            resizable: true,
            title: 'Please Input Promotion Code',
            modal: true,
            open: function () {
                $(this).load('@Url.Action("SubmitPromoCode", "Order")');
            },
        });
        return false;
        });
</script>
    }